<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>chatapp</title>
<link href="../public/css/chatapp.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="chatpanel">
<div id="pupleboxID" class="puplebox">
	<div class="boxheader">
	<div id="pupleID" class="puple"></div>
	<div class="toolbar">
	  <div class="user_name">your username</div>
	  <div class="toolbarbutton logout_button">logout</div>
	  <div class="toolbarbutton login_button">login</div>
	  <div class="toolbarbutton addfriend">add friend</div>
	  <div class="toolbarbutton newgroup">new group</div>
	  <div class="toolbarbutton openstory">open story</div>
    </div>
	</div>
	<div id="creategroupboxID" class="creategroupbox">
	  <div class="newgroupinfo">
		<textarea id="newgrouptext"></textarea>
	  	<div class="createbutton">Create</div>
	  </div>
	  <div class="creategroup_friendlist">
	    <div class="creategroup_friendlist_item">
			<div class="friendlist_item_name">friend 1</div>
		  	<input class="friendlist_item_checker" type="checkbox">
	    </div>
		  <div class="creategroup_friendlist_item">
			<div class="friendlist_item_name">friend 1</div>
		  	<input class="friendlist_item_checker" type="checkbox">
	    </div>
		  <div class="creategroup_friendlist_item">
			<div class="friendlist_item_name">friend 1</div>
		  	<input class="friendlist_item_checker" type="checkbox">
	    </div>
		  <div class="creategroup_friendlist_item">
			<div class="friendlist_item_name">friend 1</div>
		  	<input class="friendlist_item_checker" type="checkbox">
	    </div>
		  <div class="creategroup_friendlist_item">
			<div class="friendlist_item_name">friend 1</div>
		  	<input class="friendlist_item_checker" type="checkbox">
	    </div>
		  <div class="creategroup_friendlist_item">
			<div class="friendlist_item_name">friend 1</div>
		  	<input class="friendlist_item_checker" type="checkbox">
	    </div>
	  </div>
		
    </div>
</div>

<div class="friendlist">
	<div class="frienditem">
	  <div class="onlinestatus"> 
	  </div>
	  <div class="icon">
	  </div>
	  <div class="username"> username
	  </div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	<div class="frienditem">
	  <div class="onlinestatus"> 
	  </div>
	  <div class="icon">
	  </div>
	  <div class="username"> username
	  </div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	  <div class="frienditem">
	  <div class="onlinestatus"> 
		</div>
	  <div class="icon">
		</div>
	  <div class="username"> username
		</div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	  <div class="frienditem">
	  <div class="onlinestatus"> 
		</div>
	  <div class="icon">
		</div>
	  <div class="username"> username
		</div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	  
	
  </div>
  <div class="yourgroup">
	<div class="groupitem">
		<div class="onlinestatus"> 
		</div>
	  <div class="groupicon">
		<div class="groupicon"></div>
		<div class="groupicon"></div>
		<div class="groupicon"></div>
      </div>
    
	  <div class="groupitemname">
	    <div class="groupname">Content for  class "groupname" Goes Here</div>
	  </div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	<div class="groupitem">
		<div class="onlinestatus"> 
		</div>
	  <div class="groupicon">
		<div class="groupicon"></div>
		<div class="groupicon"></div>
		<div class="groupicon"></div>
      </div>
    
	  <div class="groupitemname">
	    <div class="groupname">Content for  class "groupname" Goes Here</div>
	  </div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	  <div class="groupitem">
		<div class="onlinestatus"> 
		</div>
	  <div class="groupicon">
		<div class="groupicon"></div>
		<div class="groupicon"></div>
		<div class="groupicon"></div>
      </div>
    
	  <div class="groupitemname">
	    <div class="groupname">Content for  class "groupname" Goes Here</div>
	  </div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	  <div class="groupitem">
		<div class="onlinestatus"> 
		</div>
	  <div class="groupicon">
		<div class="groupicon"></div>
		<div class="groupicon"></div>
		<div class="groupicon"></div>
      </div>
	  <div class="groupitemname">
	    <div class="groupname">Content for  class "groupname" Goes Here</div>
	  </div>
	  <div class="notice hidenotice">
	    <div class="noticevalue">1
		</div>
	  </div>
    </div>
	  
  </div>
	
  <div class="liststory">
	<div class="story">
	  <div class="storyheader">
		  <div class="embroiderers">
			<div class="embroiderer">
			  <div class="embroiderer-icon">
				</div>
			  <div class="embroiderer_name"> username 1
			  </div>
			  <div class="kickout_vote"> &times;
			  </div>
			</div>
			<div class="embroiderer">
			  <div class="embroiderer-icon">
			  </div>
			  <div class="embroiderer_name"> username 2
			  </div>
			  <div class="kickout_vote"> &times;
			  </div>
		   </div>
			<div class="embroiderer">
			  <div class="embroiderer-icon">
			  </div>
			  <div class="embroiderer_name"> username 3
			  </div>
			  <div class="kickout_vote"> &times;
			  </div>
		   </div>
			  <div class="embroiderer">
			  <div class="embroiderer-icon">
			  </div>
			  <div class="embroiderer_name"> username 3
			  </div>
			  <div class="kickout_vote"> &times;
			  </div>
		   </div>
		  </div>
		  <div class="hand">
			  <div class="touchstory">
				  <div class="touchitem">
					<div class="join">join 
                  	</div>
				  	<div class="verify">
					</div>
				  </div>
				  <div class="touchitem">
					<div class="follow">follow 
					</div>
					<div class="verify">
			    	</div>
				  </div>
				  	<div class="touchitem">
					<div class="dontcare">dontcare
				  </div>
				  	<div class="verify">
				  	</div>
				  </div>
			  </div>
	      </div>
	  </div>
	  <div class="tell_story">
		<div class="story_part">
		  <div class="whatsay "> story part1 Content for  class "whatsay" Goes Herestory part1 Content for  class "whatsay" Goes Herestory part1 Content for  class "whatsay" Goes Here</div>
		  <div class="story_part_des">
			<div class="whosay temphidden">	who say</div>
		  	<div class="whensay temphidden">whensay</div>
		  	<div class="wheresay temphidden">wheresay</div>
		  	<div class="howsay temphidden">howsay</div>
		  </div>
        </div>
      </div>
	  <div class="comment_story">
	    <div class="comment_item">
			<div class="commentuser">
			  <div class="commentuser-icon">
			  </div>
			  <div class="commentuser_name">commentuser name</div>
			</div>
		  <div class="comment_content">Content for  class "comment_content" Goes Here</div>
        </div>
		  <div class="comment_item">
			<div class="commentuser">
			  <div class="commentuser-icon">
			  </div>
			  <div class="commentuser_name">commentuser name</div>
			</div>
		  <div class="comment_content">Content for  class "comment_content" Goes Here</div>
        </div>
		  <div class="comment_item">
			<div class="commentuser">
			  <div class="commentuser-icon">
			  </div>
			  <div class="commentuser_name">commentuser name</div>
			</div>
		  <div class="comment_content">Content for  class "comment_content" Goes Here</div>
        </div>
	    <div class="viewmorecomment">
		  <div class="viewmorecommentitem">view more comment...</div>
        </div>
      </div>
	<div class="typingbox_comment ">
		<textarea class="typingbox_comment_text" type="text"></textarea>
	  <div class="comment_sendbutton">send</div>
    </div>
    </div>
	  <div class="story">
	    <div class="storyheader">
		  <div class="embroiderers">
			<div class="embroiderer">
			  <div class="embroiderer-icon">
			  </div>
			  <div class="embroiderer_name"> username 1
			  </div>
			  <div class="kickout_vote"> &times;
			  </div>
			</div>
			<div class="embroiderer">
			  <div class="embroiderer-icon">
			  </div>
			  <div class="embroiderer_name"> username 2
			  </div>
			  <div class="kickout_vote"> &times;
			  </div>
		   </div>
			<div class="embroiderer">
			  <div class="embroiderer-icon">
			  </div>
			  <div class="embroiderer_name"> username 3
			  </div>
			  <div class="kickout_vote"> &times;
			  </div>
		   </div>
		  </div>
		  <div class="hand">
			  <div class="touchstory">
				  <div class="touchitem">
					<div class="join">join 
                  	</div>
				  	<div class="verify">
					</div>
				  </div>
				  <div class="touchitem">
					<div class="follow">follow 
					</div>
					<div class="verify">
			    	</div>
				  </div>
				  	<div class="touchitem">
					<div class="dontcare">dontcare
				  </div>
				  	<div class="verify">
				  	</div>
				  </div>
			  </div>
	      </div>
		</div>
		<div class="tell_story">
			<div class="story_part">
		  <div class="whatsay "> story part1 Content for  class "whatsay" Goes Herestory part1 Content for  class "whatsay" Goes Herestory part1 Content for  class "whatsay" Goes Here</div>
		  <div class="story_part_des">
			<div class="whosay temphidden">	who say</div>
		  	<div class="whensay temphidden">whensay</div>
		  	<div class="wheresay temphidden">wheresay</div>
		  	<div class="howsay temphidden">howsay</div>
		  </div>
        </div>
		  <div class="story_part">
		  <div class="whatsay "> story part1 Content for  class "whatsay" Goes Herestory part1 Content for  class "whatsay" Goes Herestory part1 Content for  class "whatsay" Goes Here</div>
		  <div class="story_part_des">
			<div class="whosay temphidden">	who say</div>
		  	<div class="whensay temphidden">whensay</div>
		  	<div class="wheresay temphidden">wheresay</div>
		  	<div class="howsay temphidden">howsay</div>
		  </div>
        </div>
      </div>
	  <div class="comment_story">
<div class="comment_item">
			<div class="commentuser">
			  <div class="commentuser-icon">
			  </div>
			  <div class="commentuser_name">commentuser name</div>
			</div>
		  <div class="comment_content">Content for  class "comment_content" Goes HereContent for  class "comment_content" Goes HereContent for  class "comment_content" Goes HereContent for  class "comment_content" Goes Here</div>
        </div>
		  <div class="comment_item">
			<div class="commentuser">
			  <div class="commentuser-icon">
			  </div>
			  <div class="commentuser_name">commentuser name</div>
			</div>
		  <div class="comment_content">Content for  class "comment_content" Goes Here</div>
        </div>
		  <div class="comment_item">
			<div class="commentuser">
			  <div class="commentuser-icon">
			  </div>
			  <div class="commentuser_name">commentuser name</div>
			</div>
		  <div class="comment_content">Content for  class "comment_content" Goes Here</div>
        </div>
	    <div class="viewmorecomment">view more comment...
		</div>
      </div>
		  
		<div class="typingbox_comment ">
		  <textarea class="typingbox_comment_text" type="text"></textarea>
		  <div class="comment_sendbutton">send</div>
		</div>
    </div>
  </div>

  <div class="chatboxbean">
    <div class="chatbox">
	  
    <div class="typingbox">
		<textarea class="mess" type="text"></textarea>
	  <div class="sendbutton">send</div>
    </div>
    <div class="messagebox">
		<div class="messageitem">
			<div class="messageitem_icon">
			</div>
			  <div class="userchatboxmessagae">
				<div class="messageinfo">info message here</div>
				<div>
					<div class="messgetext">4Content for  class "messgetext" Goes Here</div>
				</div>  
			</div>
		</div>
		
		
		<div class="messageitem">
			<div class="messageitem_icon">
		  </div>
  		  <div class="guestchatboxmessagae">
			<div class="messageinfo">info message here</div>
		    <div>
			  <div class="messgetext msgguest">3Content for  class "messgetext" Goes Here</div>
			</div>
			  
          </div>
		</div>
		<div class="messageitem">
			<div class="messageitem_icon">
			</div>
  		  <div class="userchatboxmessagae">
			<div class="messageinfo">info message here</div>
				<div>
					<div class="messgetext msguser">2Content for  class "messgetext" Goes Here2Content for  class "messgetext" Goes Here2Content for  class "messgetext" Goes Here2Content for  class "messgetext" Goes Here2Content for  class "messgetext" Goes Here</div>
				</div>
          </div>
		</div>
		<div class="messageitem">
			<div class="messageitem_icon">
			</div>
  		  <div class="guestchatboxmessagae">
			<div class="messageinfo">info message here</div>
				<div>
		    		<div class="messgetext">1Content for  class "messgetext" Goes Here</div>
				</div>
          </div>
		</div>
		
		
	  <div class="messageitem">
	  		<div class="somebodytyping_chatboxmessagae">1someone is typing...</div>
	  </div>
    </div>
	<div class="member">
		<div class="memberitem">
		  	<div class="onlinestatus"> 
			</div>
		  	<div class="icon">
			</div>
		  	<div class="username"> username
			</div>
		  <div class="removemenber">
			&times;</div>
        </div>
		<div class="memberitem">
		  	<div class="onlinestatus"> 
			</div>
		  	<div class="icon">
			</div>
		  	<div class="username"> username
			</div>
		  <div class="removemenber">
			&times;</div>
    	</div>
		<div class="memberitem">
		  	<div class="onlinestatus"> 
			</div>
		  	<div class="icon">
			</div>
		  	<div class="username"> username
			</div>
		  <div class="removemenber">
			&times;</div>
    	</div>
		<div class="memberitem">
		  	<div class="onlinestatus"> 
			</div>
		  	<div class="icon">
			</div>
		  	<div class="username"> username
			</div>
		  <div class="removemenber">
			&times;</div>
    	</div>
		<div class="memberitem">
		  	<div class="memberinvite"> invite friend
			</div>
    	</div>
	</div>
	<div class="titlechatbox">
	  <div class="chatboxname">your group name</div>
		  <div class="controlchatbox">
			<div class="chatbox_minimize">-
			  </div>
			<div class="chatbox_maximize">
			</div>
			<div class="chatbox_close">x</div>
		  </div>
	  </div>
  </div>

	</div>

</div>
	<p/>
	<p/>
	<p/>
	<p/>
	<p/>
	<p/>
	<p/>
<div class="login">
	<div class="loginform">
	  <div class="relativebox">
		<div class="field-table">
	  <div class="row">
		  	<div class="col1">
				<label>Usernane: </label>
			</div>
			<div class="col2">
				<input class="fieldinput" type="text">
			</div>
      </div>
		<div class="row">
		  	<div class="col1">
				<label>Password: </label>
			</div>
			<div class="col2">
				<input class="fieldinput" type="password">
			</div>
  	  </div>
		 <div class="row">
		  	
		  	<div class="col2">
				<input class="button" type="button" value="cancel">
				<input class="button" type="button" value="login">
			</div>
	  </div>
      </div>
		  
  <div class="loginstatus">Content for  class "loginstatus" Goes Here</div>
		</div>

  </div>
</div>
</body>
</html>
