<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="../public/css/mainBoxStyle.css" rel="stylesheet" type="text/css"/>
<link href="../public/css/homePageCSS.css" rel="stylesheet" type="text/css"/>

</head>


<body>
	 <div class="stackRow">
		<div id="toolbar">
			<div class="Bigbtn"> Create Document</div>
		 </div>

		</div>
	</div>

	<div class="stackRow">
		<div class="tableBean">
			 <table width="200" border="1" class="docList">
			  <tbody>
				<tr>
				  <th>IDX</td>
				  <th>IMG</td>
				  <th>DOCUMENT NAME</td>
				  <th>DATE</td>
				  <th>EDIT</td>
				</tr>
				<tr>
				  <td>exampke text</td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				</tr>
				<tr>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				  <td>&nbsp;</td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</body>

</html>
