<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <script src="javascript/googleBookAPIquerydata.js"></script>
  <script src="javascript/googleBookindexedDBquery.js"></script>
  <script src="javascript/googlebookcart.js"></script>
  <script >
  </script>
  <link href="/css/googleBookFinder.css" rel="stylesheet" type="text/css" />
  <link href="/css/googlebookcart.css" rel="stylesheet" type="text/css">
</head>
<body >
  <div class="toolbar">
    <div class="tool">
      <div class="homeButton">
        <img src="/icon/iconfinder_Home-01_1976053.png" width="24" height="24" alt=""/>
      </div>
    </div>
    <div class="tool">
      <input type="text" id="termbookSearchID" />
      <input id="searchBookID" type="button" onclick="searchBook()" value="search"/>
      <input type="button" value="clear"/>
    </div>
    <div class="tool">
      <input type="button" value="zoom out"/>
      <input type="button" value="zoom in"/>
    </div>
    <div class="tool">
      <input type="button" value="prev" onclick="prevVolume()"/>
      <input type="button" value="next" onclick="nextVolume()"/>
    </div>
    <div class="tool">
      <input type="button" onclick="openBookcart()" value="open cart"/>
    </div>
  </div>
  <div class="flex-container">
    <div class="bookReview">
      <div id="titleBook" class="previewInfo">this is book title</div>
      <div class="imgInfo">
        <div class="volumeinfo">
          <div class="fig bookReviewImage">
            <img id="bookReviewImageID"  src="" width="183" height="275" alt=""/>
          </div>
          <div class="shortDesc">
            <div class="shortDescchild" id="authorsshortDesc">
              some text some text some text some text some text
            </div>
            <div class="shortDescchild" id="publishershortDesc">
              some text some text some text some text some text
            </div>
            <div class="shortDescchild" id="publishedDateshortDesc">
              some text some text some text some text some text
            </div>
            <div class="shortDescchild" id="pageCountshortDesc">
              some text some text some text some text some text
            </div>
            <div class="shortDesclanguage" id="languageshortDesc">
						  priceDesc priceDesc priceDesc priceDesc
					  </div>
            <div class="shortDescchild" id="priceshortDesc">
              some text some text some text some text some text
            </div>
          </div>
        </div>

        <div class="addToCard" onclick="addToCard()">+ Add To Card</div>
        <div id="bookdescription">book description: </div>
      </div>
      <div class="description">
        <h>Description:
        </h>
      </div>
      <div class="ItemvolumeInfo">
        <table class="previewTable">
          <tr>
            <th class="head1"></th>
            <th class="head2" > </th>
          </tr>
          <tr>
            <td>ID:</td>
            <td id="volumeid" > </td>
          </tr>
          <tr>
            <td>Title:</td>
            <td id="title" > </td>
          </tr>
          <tr>
            <td>Authors:</td>
            <td id="authors" > </td>
          </tr>
          <tr>
            <td>Publisher:</td>
            <td id="publisher" > </td>
          </tr>
          <tr>
            <td>PublishedDate:</td>
            <td id="publishedDate"> </td>
          </tr>
          <tr>
            <td>Description:</td>
            <td id="description" > </td>
          </tr>
          <tr>
            <td>IndustryIdentifiers:</td>
            <td id="industryIdentifiers" > </td>
          </tr>
          <tr>
            <td>ReadingModes:</td>
            <td id="readingModes" > </td>
          </tr>
          <tr>
            <td>PageCount:</td>
            <td id="pageCount"> </td>
          </tr>
          <tr>
            <td>PrintType:</td>
            <td id="printType"> </td>
          </tr>
          <tr>
            <td>Categories:</td>
            <td id="categories" > </td>
          </tr>
          <tr>
            <td>ImageLinks:</td>
            <td id="imageLinks"> </td>
          </tr>
          <tr>
            <td>Language:</td>
            <td id="language" > </td>
          </tr>
          <tr>
            <td>PreviewLink:</td>
            <td id="previewLink" > </td>
          </tr>
          <tr>
            <td>InfoLink: </td>
            <td id="infoLink"></td>
          </tr>
        </table>
      </div>
      <div class="ItemsaleInfo">
        <label class="previewTitleInfo"> </label>
        <table class="previewTable">
          <tr>
            <th class="head1"></th>
            <th class="head2" > </th>
          </tr>
          <tr>
            <td>Country: </td>
            <td id="country" > </td>
          </tr>
          <tr>
            <td>Saleability: </td>
            <td id="saleability" > </td>
          </tr>
          <tr>
            <td>IsEbook: </td>
            <td id="isEbook" > </td>
          </tr>
        </table>
      </div>
    </div>
    <div id="rightPanelID" class="rightPanel">
      <div class="bookshevels">
        <div class="bookshevelsHeader">
          <div class="showItemmode">
            <div id="showButton1" class="showButton" onclick="expand(this.id)">
              <img src="icon/more+plus+icon-1320166578601905135_64.ico" alt=""/>
            </div>
            <div class="bookshevelsInfo"> Bookshelves name
            </div>
          </div>
        </div>
        <div class="volumes">
          <div class="volumeItem" onclick="showDesc(this.id)">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bookshevels">
        <div class="bookshevelsHeader">
          <div class="showItemmode">
            <div class="showButton">
              <img src="icon/more+plus+icon-1320166578601905135_64.ico" alt=""/>
            </div>
            <div class="bookshevelsInfo"> Bookshelves name
            </div>
          </div>
        </div>
        <div class="volumes">
          <div class="volumeItem">
            <div class="volumeImg"> <img src="img/dog.jpg" width="183" height="275" alt=""/> </div>
            <div class="volumeInfo">
              <div class="volumeTitle"> Google book volume name google book volume name </div>
              <div class="volumeAuthors"> Google book volume author google book volume author </div>
              <div class="Price"> 500.000đ </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>

  <div id="bookcartID" class="bookcart">

    <div class="bookcart-content">
      <div class="bookcart-header">
        <div class="title">
          Book cart title here
        </div>
        <div class="bookcartClose">
          <span class="closeCart close" onclick="closeBookcart()">&times;</span>
        </div>
      </div>
      <div id="listCartitem">
          <div class="bookcart-item">
          <div class="bookpay-selector">
            <input type="checkbox" class="slector">
          </div>
          <div class="bookcart-item-thumbnail">
            <img src="/img/dog.jpg" width="183" height="275" alt=""/>
          </div>
          <div class="bookcart-item-description">
            <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
            <div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
            <div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
            <div class="item-description bookcart-item-publishedDate">
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
              Content for  class "bookcart-item-publishedDate" Goes Here
            </div>
            <div class="item-description price">
              <div class="discount">800.000d</div>
              <div class="bookcart-item-price">500.000d</div>
            </div>
            <div class="item-quantily-voucher">
              <div class="item-quantily">
                <div class="quantily-control quantily-down">-
                </div>
                <div class="quantily">1
                </div>
                <div class="quantily-control quantily-up">+
                </div>
              </div>
              <div class="item-voucher"> use voucher!
              </div>
            </div>
          </div>
          <div class="bookcart-item-remove">
            <span class="close">&times;</span>
          </div>
        </div>
        <div class="bookcart-item">
        <div class="bookpay-selector">
          <input type="checkbox" class="slector">
        </div>
        <div class="bookcart-item-thumbnail">
          <img src="/img/dog.jpg" width="183" height="275" alt=""/>
        </div>
        <div class="bookcart-item-description">
          <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
          <div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
          <div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
          <div class="item-description bookcart-item-publishedDate">
            Content for  class "bookcart-item-publishedDate" Goes Here
            Content for  class "bookcart-item-publishedDate" Goes Here
            Content for  class "bookcart-item-publishedDate" Goes Here
            Content for  class "bookcart-item-publishedDate" Goes Here
          </div>
          <div class="item-description price">
            <div class="discount">800.000d</div>
            <div class="bookcart-item-price">500.000d</div>
          </div>
          <div class="item-quantily-voucher">
            <div class="item-quantily">
              <div class="quantily-control quantily-down">-
              </div>
              <div class="quantily">1
              </div>
              <div class="quantily-control quantily-up">+
              </div>
            </div>
            <div class="item-voucher"> use voucher!
            </div>
          </div>
        </div>
        <div class="bookcart-item-remove">
          <span class="close">&times;</span>
        </div>
      </div>

      </div>


      <div class="totalPrice">
        <div class="totalPriceLabel">Total:</div>
        <div id="totalItemID" class="totalItem">10 item</div>
        <div class="totalPriceLabel">Price:</div>
        <div id="priceID" class="price">1.500.000d</div>
      </div>
      <div class="bookcart-control">
        <div class="bookcar-pay" onclick="payTitle()"> PAY </div>
        <div class="bookcar-close" onclick="closeBookcart()">Close</div>
      </div>
    </div>
  </div>
</body>
<script>

function expand(clicked_id)
{
  var ID_Selected = clicked_id.substring(10);
  var elementID = "searchvolumesResultID"+ ID_Selected;

  var item = document.getElementById(elementID);
  if("nowrap".localeCompare(item.style.flexWrap) == 0 || "".localeCompare(item.style.flexWrap)==0){
    item.style.display ="flex";
    item.style.flexWrap = "wrap";
  }else {
    console.log("no expand_");
    item.style.display ="inherit";
    item.style.flexWrap = "nowrap";
  }
}
var listbookdata =[];
var bookshevels=[];
function  searchBook(){
  var term = document.getElementById("termbookSearchID").value;
  var res = httpGet(term);
  var bookdata = JSON.parse(res);
  // console.log(currbookdata);
  // console.log(currbookdata.kind);
  // console.log(currbookdata.totalItems);
  var rightPanel = document.getElementById("rightPanelID");
  var bookshevel = "<div class='bookshevels'>"+
  "<div class='bookshevelsHeader'>"+
  "<div class='showItemmode'>"+
  "<div id='showButton"+bookshevels.length+"' class='showButton' onclick='expand(this.id)'>"+
  "<img src='icon/more+plus+icon-1320166578601905135_64.ico' alt=''/>"+
  "</div>"+
  "<div class='bookshevelsInfo'>"+"Search result for \""+term+"\""+
  "</div>"+
  "</div>"+
  "</div>";
  var volumes = "<div class='volumes noselect' id ='searchvolumesResultID"+bookshevels.length+"'>"
  bookdata.items.forEach((item, i) => {
    var Price = ( item.saleInfo===undefined?"": item.saleInfo.saleability );
    volumes += "<div id='"+ item.id +"' class='volumeItem' onclick='showDesc(this.id)' >"+
    "<div class='volumeImg'> <img src='"+ (item.volumeInfo.imageLinks===undefined?"":item.volumeInfo.imageLinks.thumbnail)  +"' alt=''/> </div>"+
    "<div class='volumeInfo'>"+
    "<div class='volumeTitle'> "+ item.volumeInfo.title + " </div>" +
    "<div class='volumeAuthors'>"+ item.volumeInfo.authors+ " </div>" +
    "<div class='Price'> " + ((Price.localeCompare("FREE"))?"free":(Price.localeCompare("NOT_FOR_SALE")?"not for sale":""))+ " </div>"+
    "</div>"+
    "</div>";
  });
  volumes+= "</div>";
  bookshevel+=volumes;
  bookshevel+="</div>";
  bookshevels.unshift(bookshevel);
  var HTMLCODE = "";
  bookshevels.forEach((item, i) => {
    HTMLCODE +=item;
  });

  rightPanel.innerHTML = HTMLCODE;
  listbookdata.push(bookdata);
}

var listbookdataIdx = -1;
var volumesIdx = -1;
var selectedVolumeID = "";
var selectedVolume;
async function showDesc(id){
  listbookdata.forEach((item, i) => {
    item.items.forEach((item2, ii) => {
      if (item2.id.localeCompare(id)==0) {
        listbookdataIdx = i;
        volumesIdx = ii;
        selectedVolumeID = item2.id;
        selectedVolume = item2 ;
      }
    });
  });

  if(selectedVolume===undefined) return;

  if(selectedVolume.volumeInfo.authors!==undefined){
    document.getElementById("authorsshortDesc").innerHTML=JSON.stringify(selectedVolume.volumeInfo.authors);
  }else {
    document.getElementById("authorsshortDesc").innerHTML="undefined";
  }
  document.getElementById("publishershortDesc").innerHTML=selectedVolume.volumeInfo.publisher;
  document.getElementById("publishedDateshortDesc").innerHTML="Published date: "+selectedVolume.volumeInfo.publishedDate;
  document.getElementById("pageCountshortDesc").innerHTML= "Page count: "+selectedVolume.volumeInfo.pageCount;
  document.getElementById("languageshortDesc").innerHTML="Language: "+selectedVolume.volumeInfo.language;
  document.getElementById("priceshortDesc").innerHTML=selectedVolume.saleInfo.saleability;
  //=============
  document.getElementById("titleBook").innerHTML=selectedVolume.volumeInfo.title;
  document.getElementById("bookReviewImageID").src=selectedVolume.volumeInfo.imageLinks.thumbnail;
  document.getElementById("bookdescription").innerHTML=selectedVolume.volumeInfo.description;
  document.getElementById("volumeid").innerHTML=selectedVolume.id;
  document.getElementById("title").innerHTML=selectedVolume.volumeInfo.title;
  if(selectedVolume.volumeInfo.authors!==undefined)
  document.getElementById("authors").innerHTML=JSON.stringify(selectedVolume.volumeInfo.authors);
  document.getElementById("publisher").innerHTML=selectedVolume.volumeInfo.publisher;
  document.getElementById("publishedDate").innerHTML=selectedVolume.volumeInfo.publishedDate;
  document.getElementById("description").innerHTML=selectedVolume.volumeInfo.description;
  var industryIdentifiers = "";
  if(selectedVolume.volumeInfo.industryIdentifiers!==undefined)
  selectedVolume.volumeInfo.industryIdentifiers.forEach((item, i) => {
    if(i>0){industryIdentifiers+="\n";}
    industryIdentifiers+= "type: "+ item.type + ", " + "identifier: " +item.identifier;
  });
  document.getElementById("industryIdentifiers").innerHTML=industryIdentifiers;
  document.getElementById("readingModes").innerHTML="text: "+selectedVolume.volumeInfo.readingModes.text+ ", image: "+selectedVolume.volumeInfo.readingModes.image;
  document.getElementById("pageCount").innerHTML=selectedVolume.volumeInfo.pageCount;
  document.getElementById("printType").innerHTML=selectedVolume.volumeInfo.printType;
  var categories = "";
  if(selectedVolume.volumeInfo.categories!==undefined)
  selectedVolume.volumeInfo.categories.forEach((item, i) => {
    if(i>0){categories+= ", ";}
    categories+=  item ;
  });
  document.getElementById("categories").innerHTML=categories;
  document.getElementById("imageLinks").innerHTML= "smallThumbnail: "+ selectedVolume.volumeInfo.imageLinks.smallThumbnail;language
  document.getElementById("imageLinks").innerHTML+= "smallThumbnail: "+ selectedVolume.volumeInfo.imageLinks.thumbnail;
  document.getElementById("language").innerHTML=selectedVolume.volumeInfo.language;
  document.getElementById("previewLink").innerHTML=selectedVolume.volumeInfo.previewLink;
  document.getElementById("infoLink").innerHTML=selectedVolume.volumeInfo.infoLink;

  document.getElementById("country").innerHTML=selectedVolume.saleInfo.country;
  document.getElementById("saleability").innerHTML=selectedVolume.saleInfo.saleability;
  document.getElementById("isEbook").innerHTML=selectedVolume.saleInfo.isEbook;


}

//=========================================

function prevVolume(){
  if(listbookdata===undefined)return ;
  if (listbookdata[listbookdataIdx]===undefined) return;
  if(volumesIdx < listbookdata[listbookdataIdx].items===undefined)return;
  if (volumesIdx>0) {
    showDesc(listbookdata[listbookdataIdx].items[volumesIdx-1].id);
  }
}

function nextVolume(){
  if(listbookdata===undefined)return ;
  if (listbookdata[listbookdataIdx]===undefined) return;
  if(volumesIdx < listbookdata[listbookdataIdx].items===undefined)return;
  if(volumesIdx < listbookdata[listbookdataIdx].items.length-1){
    showDesc(listbookdata[listbookdataIdx].items[volumesIdx+1].id);
  }
}

// Scroll div
var leftMouseButtonOnlyDown = false;
function setLeftButtonState(e) {

  leftMouseButtonOnlyDown = e.buttons === undefined
  ? e.which === 1
  : e.buttons === 1;

}

var pressposition;
var ID_Selected = "";
function setLeftButtonState_(e) {
  leftMouseButtonOnlyDown = e.buttons === undefined
  ? e.which === 1
  : e.buttons === 1;
  lastPos = {"x":event.clientX, "y":  event.clientY};
  var elementMouseIsOver = document.elementFromPoint(event.clientX, event.clientY);
  if(elementMouseIsOver.classList.contains('volumeImg')){
    ID_Selected = elementMouseIsOver.parentElement.parentElement.id;
  }
}

function setLeftButtonState__(e) {
  leftMouseButtonOnlyDown = e.buttons === undefined
  ? e.which === 1
  : e.buttons === 1;
  // scroll continue move to die
  continueScroll();
}

async function continueScroll(){
  var len = 0;
  var esp = 0;
  if(D>=0){
    len = D;
    for (var i = 0; i < len; i+=2) {
      document.getElementById(ID_Selected).scrollLeft -=(len -i)/10;
      await sleep(15);
    }
  }else {
    len = (-1*D);
    for (var i = 0; i < len; i+=2) {
      document.getElementById(ID_Selected).scrollLeft += (len -i)/10;
      await sleep(15);
    }
  }
  D =0;
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

document.body.onmousedown = setLeftButtonState_;
document.body.onmousemove = setLeftButtonState;
document.body.onmouseup = setLeftButtonState__;


var lastPos;
var D = 0;
document.addEventListener('mousemove', async function(e) {
  if (leftMouseButtonOnlyDown) {
    var x = e.clientX, y = e.clientY,
    elementMouseIsOver = document.elementFromPoint(x, y);
    //console.log(lastPos);
    if (elementMouseIsOver!=null)
    if(elementMouseIsOver.classList.contains('volumeImg')){// catch img
      if(lastPos != null){
        D = x-lastPos.x;
      }
      document.getElementById(ID_Selected).scrollLeft -= D;
    }
    lastPos = {"x": x, "y":y};
  }
});
// cart
async function openBookcart(){
  document.getElementById("bookcartID").style.display = "block";
  loadCartContent();
}

async function loadCartContent() {

    var cartData = await loadAllData();
    var cartContent = "";

    var totalItem = 0;
    var totalPrice = 0;
    console.log("cartData:", cartData);
    await cartData.forEach((item, i) => {
      if(item.selected){
        totalItem+=item.quantily;
        totalPrice+=( item.quantily*parseInt(item.price));
      }
      cartContent+="<div id = 'bookcart-item"+item.id+"' class='bookcart-item'>"
      +"<div class='bookpay-selector'>"
      +"<input id = 'selected-item" + item.id + "' type='checkbox' class='slector' onclick='selectCartItem(this.id)' "+ (item.selected?"checked":"")+">"
      +"</div>"
      +"<div class='bookcart-item-thumbnail'>"
      +"<img src='"+item.volumeData.volumeInfo.imageLinks.smallThumbnail+"' width='183' height='275' alt=''/>"
      +"</div>"
      +"<div class='bookcart-item-description'>"
      +"<div class='item-description bookcart-item-title'>"+ item.volumeData.volumeInfo.title +"</div>"
      +"<div class='item-description bookcart-item-author'>"+ item.volumeData.volumeInfo.authors +"</div>"
      +"<div class='item-description bookcart-item-publisher'>publisher: "
      + item.volumeData.publisher +", published Date: "+ item.volumeData.volumeInfo.publishedDate+", page count: "
      + item.volumeData.pageCount+ "</div>"
      +"<div class='item-description bookcart-item-publishedDate'>"+ (item.volumeData.volumeInfo.description===undefined?"--": item.volumeData.volumeInfo.description.substring(0,200)) +"</div>"
      +"<div class='item-description price'>"
      +"<div class='discount'>" + item.discount + "</div>"
      +"<div class='bookcart-item-price'>" + item.volumeData.saleInfo.saleability + "</div>"
      +"</div>"
      +"<div class='item-quantily-voucher'>"
      +"<div class='item-quantily'>"
      +"<div  id = 'quantilydown-item"+item.id+"' class='quantily-control quantily-down' onclick='quantilydownCartItem(this.id)'>-"
      +"</div>"
      +"<div class='quantily'>" + item.quantily
      +"</div>"
      +"<div id = 'quantilyup-item"+item.id+"' class='quantily-control quantily-up' onclick='quantilyupCartItem(this.id)'>+"
      +"</div>"
      +"</div>"
      +"<div class='item-voucher'> use voucher!"
      +"</div>"
      +"</div>"
      +"</div>"
      +"<div class='bookcart-item-remove'>"
      +"<span  id = 'remove-item"+item.id+"' onclick='removeBookCartItem(this.id)' class='close'>&times;</span>"
      +"</div>"
      +"</div>"
      +"</div>"
    });
  document.getElementById("listCartitem").innerHTML = cartContent;
document.getElementById("totalItemID").innerHTML = (totalItem + " item");
document.getElementById("priceID").innerHTML = (totalPrice + " d");

}

function closeBookcart(){
  document.getElementById("bookcartID").style.display = "none";
}

function removeBookCartItem(id){
  volumeCart_idxDB_removeData(id.substring(11));
  loadCartContent();
}

function addToCard(){
  if(selectedVolumeID==undefined)return;
  // set user infor discount here
  var discount = "200.000"
  var price = "500000"
  // default = 1
  var quantily = 1;
  // set voucherID here
  var voucherID = "1";
  // default = false
  var selected = false;
  var volumeitemData = new volumeData(selectedVolume, discount, price, quantily, voucherID, selected);
  volumeCart_idxDB_addData(volumeitemData);
}

async function selectCartItem(item_id) {
  var volumeCart_ID = item_id.substring(13);
  var selectedValue = document.getElementById(item_id).checked;
  await   volumeCart_selectItem(volumeCart_ID, selectedValue  );
    await   loadCartContent();
}

async function quantilyupCartItem(item_id) {
  var volumeCart_ID = item_id.substring(15);
  await volumeCart_quantilyUp(volumeCart_ID);
  await   loadCartContent();
}

async function quantilydownCartItem(item_id) {
  var volumeCart_ID = item_id.substring(17);
  await volumeCart_quantilyDown(volumeCart_ID);
    await loadCartContent();

}

window.onclick = function(event) {
  var modal = document.getElementById("bookcartID");
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

window.onload = function(event) {
    initindexedDB();
}
</script>
</html>
