<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>google book card</title>
<link href="../public/css/googlebookcart.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="bookcartID" class="bookcart">
	  <div class="bookcart-content">
		<div class="bookcart-header">
		  <div class="title">
			  Book cart title here
		  </div>
		  <div class="bookcartClose">
			<span class="close">&times;</span>
		  </div>
		</div>
		<div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div>
		 <div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div>
		 <div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div><div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div><div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div><div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div><div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div><div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div><div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div><div class="bookcart-item">
		  <div class="bookpay-selector">
  			<input type="checkbox" class="slector">
		  </div>
		  <div class="bookcart-item-thumbnail">
			<img src="../public/img/dog.jpg" width="183" height="275" alt=""/>
		  </div>
		  <div class="bookcart-item-description">
		    <div class="item-description bookcart-item-title">Content for  class "bookcart-item-title" Goes Here</div>
			<div class="item-description bookcart-item-author">Content for  class "bookcart-item-author" Goes Here</div>
			<div class="item-description bookcart-item-publisher">Content for  class "bookcart-item-publisher" Goes Here</div>
			<div class="item-description bookcart-item-publishedDate">
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
				Content for  class "bookcart-item-publishedDate" Goes Here
			  </div>
		    <div class="item-description price">
			  <div class="discount">800.000d</div>
			  <div class="bookcart-item-price">500.000d</div>
			  </div>
		    <div class="item-quantily-voucher">
			  <div class="item-quantily">
			    <div class="quantily-control quantily-down">-
				  </div>
			    <div class="quantily">1
			    </div>
			    <div class="quantily-control quantily-up">+
				  </div>
              </div>
			  <div class="item-voucher"> use voucher!
			  </div>
            </div>
          </div>
		  <div class="bookcart-item-remove">
		  	<span class="close">&times;</span>
		  </div>
        </div>

		<div class="bookcart-control">
		  <div class="bookcar-pay" onclick="payTitle()"> PAY </div>
		  <div class="bookcar-close">Close</div>
        </div>
	  </div>
	</div>
</body>
</html>
