<!DOCTYPE html "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <script >
    </script>
    <link href="../public/css/googleBookFinder.css" rel="stylesheet" type="text/css" />
    </head>
    <body >
<div class="toolbar">
	<div class="tool">
   	  <div class="homeButton">
		  <img src="../public/icon/iconfinder_Home-01_1976053.png" width="24" height="24" alt=""/> 
	  </div>
    </div>
    <div class="tool">
    	<input type="text" id="termbookSearchID" />
    	<input type="button" value="search"/>
    	<input type="button" value="clear"/>
  	</div>
    <div class="tool">
    	<input type="button" value="zoom out"/>
    	<input type="button" value="zoom in"/>
  	</div>
      	<div class="tool">
    		<input type="button" value="prev"/>
    		<input type="button" value="next"/>
  		</div>
	<div class="tool">
    		<input type="button" value="open cart"/>
	</div>
    </div>
	<div class="flex-container">
		<div class="bookReview">
			<div id="titleBook" class="previewInfo">this is book title</div>
			<div class="imgInfo">
				<div class="volumeinfo">
				<div class="bookReviewImage">
				  <img  src="../../../../dog.jpg" width="183" height="275" alt=""/> 
				</div>
				<div class="shortDesc">
					<div class="shortDescchild" id="authorsshortDesc">
						authorsDesc authorsDesc authorsDesc authorsDesc 
					</div>
					<div class="shortDescchild" id="publishershortDesc">
						publishedDateDesc publishedDateDesc publishedDateDesc 
					</div>
					<div class="shortDescchild" id="publishedDateshortDesc">
						publishedDateDesc publishedDateDesc publishedDateDesc 
					</div>
					<div class="shortDescchild" id="pageCountshortDesc">
						pageCountDesc pageCountDesc pageCountDesc 
					</div>
					<div class="shortDesclanguage" id="languageshortDesc">
						priceDesc priceDesc priceDesc priceDesc 
					</div>
					<div class="shortDescchild" id="priceshortDesc">
						priceDesc priceDesc priceDesc priceDesc 
					</div>
				</div>
                </div>
			
			<div class="addToCard">+ Add To Card</div>
			<div id="bookdescription">book description: </div>
			</div>
			<div class="description">
				<h>Description:
				</h>
			</div>
		<div class="ItemvolumeInfo">
		<table class="previewTable">
				  <tr>
					<th class="head1"></th>
					<th class="head2" > </th>
				  </tr>
				  <tr>
					<td>title:</td>
					<td id="title" > </td>
				  </tr>
					<tr>
					<td>authors:</td>
					<td id="authors" > </td>
				  </tr>
					<tr>
					<td>publisher:</td>
					<td id="publisher" > </td>
				  </tr>
					<tr>
					<td>publishedDate:</td>
					<td id="publishedDate"> </td>
				  </tr>
					<tr>
					<td>description:</td>
					<td id="description" > </td>
				  </tr>
					<tr>
					<td>industryIdentifiers:</td>
					<td id="industryIdentifiers" > </td>
				  </tr>
					<tr>
					<td>readingModes:</td>
					<td id="readingModes" > </td>
				  </tr>
					<tr>
					<td>pageCount:</td>
					<td id="pageCount"> </td>
				  </tr>
					<tr>
					<td>printType:</td>
					<td id="printType"> </td>
				  </tr>
					<tr>
					<td>categories:</td>
					<td id="categories" > </td>
				  </tr>
					<tr>
					<td>imageLinks:</td>
					<td id="imageLinks"> </td>
				  </tr>
					<tr>
					<td>language:</td>
					<td id="language" > </td>
				  </tr>
					<tr>
					<td>previewLink:</td>
					<td id="previewLink" > </td>
				  </tr>
					<tr>
					<td>infoLink: </td>
					<td id="infoLink"></td>
				  </tr>
				</table>
			</div>
			<div class="ItemsaleInfo">
				<label class="previewTitleInfo"> </label>
			  <table class="previewTable">
				  <tr>
					<th class="head1"></th>
					<th class="head2" > </th>
			    </tr>
				  <tr>
					<td>country: </td>
					<td id="country" > </td>
				  </tr>
					<tr>
					<td>saleability: </td>
					<td id="saleability" > </td>
				  </tr>
					<tr>
					<td>isEbook: </td>
					<td id="isEbook" > </td>
				  </tr>
				</table>
			</div>
    	</div>
		<div class="rightPanel">
			<div class="bookshevels">
				<div class="bookshevelsHeader">
					<div class="showItemmode"> 
						<div class="showButton"> 
							<img src="../../../../more+plus+icon-1320166578601905135_64.ico" alt=""/> 

						</div>
						<div class="bookshevelsInfo"> Bookshelves name
							</div>
					</div>
				</div>
				<div class="volumes noselect">
					<div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
			   <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
			  </div>
			</div>
			<div class="bookshevels">
				<div class="bookshevelsHeader">
					<div class="showItemmode"> 
						<div class="showButton"> 
							<img src="../../../../more+plus+icon-1320166578601905135_64.ico" alt=""/> 

						</div>
						<div class="bookshevelsInfo"> Bookshelves name
							</div>
					</div>
				</div>
				<div class="volumes">
					<div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
			   <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					  <div class="volumeItem">
					  <div class="volumeImg"> <img src="../../../../dog.jpg" width="183" height="275" alt=""/> </div>
						<div class="volumeInfo">
						  <div class="volumeTitle"> Google book volume name google book volume name </div>
						  <div class="volumeAuthors"> Google book volume author google book volume author </div>
						  <div class="Price"> 500.000đ </div>
						</div>
					</div>
					 
			  </div>
				</div>
		</div>
    </div>
</body>
</html>
