<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="css/homePageCSS.css" rel="stylesheet" type="text/css">
</head>

	<div class="header" id="headerID">
		<a href="#">my logo</a>
		<div class="loginButton">
			<input type="button" value="login">
		</div>
		<div class="slogan">Content for  class "slogan" Goes Here</div>
	</div>
</body>


</html>
