<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>modalBox</title>
<link href="../public/css/homePageCss.css" rel="stylesheet" type="text/css">
<link href="../public/css/mainBoxStyle.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="myModal" class="modal">
	  <div class="modal-content">
		<div class="modalRow">
		  <span class="close">&times;</span>
		</div>
		<div class="modalRow">
		  <input  id="titleBox" type="text" class="modalinput" value="Document title here..." onclick="clearText()"/>
		</div>
		<div class="modalRow">
		  <div class="Nombtn" onclick="createTitle()"> OK </div>
		</div>
	  </div>
	</div>
</body>
</html>
