<!doctype html>
<link href="css/homePageCSS.css" rel="stylesheet" type="text/css">
</head>

<body >
	<div class="sidenav" id="sidenavID" name="fixed Sidebar">
			<a href="./welcome">Welcome Page</a>
			<a href="./firstDBApp">First DB App</a>
			<a href="./googleBookFinder">Book Finder App</a>
			<a href="document">Document</a>
			<a href="#menu4">Simple Online Store</a>
			<a href="#menu5">menu5</a>
		</div>
</body>
