<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
<link href="css/homePageCSS.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div id="myHeader" class="topmenu">
		<a href="#home">HOME</a>
		<a href="#Data">DATA</a>
		<a href="#User">USER</a>
		<a href="#Info">INFO</a>
	</div>
</body>

</html>
