@charset "utf-8";
:root{
	--bookcartitemthumbnail-Height: 120px;
	--bookcartitemthumbnail-width: 90px;
	--quantily-conrtol-width :25px;
}
/* The Modal (background)  src = w3schools.com */
.bookcart {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 50px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
/* Modal Content */
.bookcart-content {
	background-color: #fefefe;
	margin: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	border: 1px solid #888;
	width: 55%;
	height: 80%;
	overflow: auto;
}

.bookcart-content .bookcart-header {
	display: flex;
	margin-bottom: 10px;
}

.bookcart-content .bookcart-header .title {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	font-size: 18px;
	font-weight: 600;
	flex: 1;
	text-align: left;
	color: #2D8CEB;
}

.bookcart-content .bookcart-header .bookcartClose {
	margin-left: auto;
	order: 2;
	line-height: 25px;
}


/* The Close Button */

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.bookcart-item {
	overflow: hidden;
	display: flex;
	width: 100%;
	margin-bottom: 15px;
	/* [disabled]margin-top: 8px; */
}
.bookcart-content .bookcart-item .bookpay-selector {
	padding-top: 50px;
	padding-bottom: 50px;
	margin-right: 5px;
}
.bookcart-item .bookpay-selector input.slector  {
  width: 15px;
  height: 15px;
}




.bookcart-content .bookcart-item .bookcart-item-thumbnail {
	object-fit: contain;
	height: var(--bookcartitemthumbnail-Height);
	width: var(--bookcartitemthumbnail-Width);
	padding-top: 3px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
}


.bookcart-item .bookcart-item-thumbnail img {
	width: inherit;
	height: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.bookcart-content .bookcart-item .bookcart-item-description {
	flex: 1;
	margin-left: 7px;
}
.bookcart-item .bookcart-item-description .item-description.item-description {
	padding-top: 1px;
	line-height: 15px;
	padding-bottom: 1px;

}
.bookcart-item .bookcart-item-description .bookcart-item-title {
	font-size: 17px;
	font-weight: 600;
}
.bookcart-item .bookcart-item-description .bookcart-item-author {
	font-size: 13px;
	color: #2D8CEB;
}

.bookcart-item .bookcart-item-description .bookcart-item-publisher {
	font-size: 13px;
	color: #5B5B5B;
	margin-top: 3px;
}
.bookcart-item .bookcart-item-description .bookcart-item-publishedDate {
	font-size: 12px;
	color: #AAAAAA;
}
.bookcart-item .bookcart-item-description .price {
	display: flex;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
}
.bookcart-item-description .price .discount {
	color: #952020;
	font-weight: 600;
	text-decoration: line-through;
}


.bookcart-item .bookcart-item-description .bookcart-item-price {
	color: #48C843;
	font-weight: 600;
	margin-left: 5px;
}
.bookcart-content .bookcart-item .bookcart-item-remove {
	padding-top: 40px;
	padding-bottom: 40px;
	margin-left: 5px;
}
.bookcart-item .bookcart-item-description .item-quantily-voucher {
	display: flex;
}
.bookcart-item-description .item-quantily-voucher .item-quantily {
	display: flex;
}
.item-quantily-voucher .item-quantily .quantily-down {
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: #A2A2A2;
	border-left-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
}
.item-quantily-voucher .item-quantily .quantily {
	width: 35px;
	text-align: center;
	border: 1px solid #A2A2A2;
	font-size: small;
}
.item-quantily-voucher .item-quantily .quantily-up {
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: #A2A2A2;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-top-width: 1px;
}
.item-quantily-voucher .item-quantily .quantily-control {
	width: var(--quantily-conrtol-width);
	text-align: center;
	line-height: 18px;
	font-size: small;
}
.item-quantily-voucher .item-quantily .quantily-control:hover {
	background: #E3E3E3;
	cursor: pointer;
}

.bookcart-item-description .item-quantily-voucher .item-voucher {
	margin-left: auto;
	order: 2;
	font-size: 14px;
	background-color: #FFCF09;
	padding-right: 5px;
	padding-left: 5px;
}
.bookcart-item-description .item-quantily-voucher .item-voucher:hover {
	background: #FFE26D;
	cursor: pointer;
}
#bookcartID .bookcart-content .bookcart-control {
	display: flex;
	margin-bottom: 5px;
	margin-top: 10px;
	margin-left: 5px;
}
.bookcart-content .bookcart-control .bookcar-pay {
	flex: 1;
	background-color: #2D8CEB;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	text-align: center;
	color: #FFFFFF;
	font-weight: 500;
	margin-right: 5px;
}
.bookcart-content .bookcart-control .bookcar-pay:hover {
	background: #53A1EE;
	cursor: pointer;
}

.bookcart-content .bookcart-control .bookcar-close {
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	margin-right: 25px;
}
.bookcart-content .bookcart-control .bookcar-close:hover {
	background: #D0D0D0;
	cursor: pointer;
}
